* {
    box-sizing: border-box;
}

body {
    background-color: cornsilk;
    display:flex;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container {
    background-color: tomato;
    width: 350px;
    height: 200px;
    padding: 20px;
    margin-top: 50px;
}
.input-group{
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 8px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.completed {
    text-decoration: line-through;
    color: aliceblue;
}
